@font-face {
    font-family: 'Ropa Sans';
    src: url(/fonts/RopaSans-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Ropa Sans Italic';
    src: url(http://localhost:1313/fonts/RopaSans-Italic.ttf);
    font-weight: 400;
}

div#my-info {
  background-color: #2053ab;
  color: #ffffff;
}

div#my-info a {
  color: #ffffff;
}

.title-bar {
  background-color: #2053ab;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ropa Sans', Raleway, "Open Sans", Arial, sans-serif;
}
